
/* 3D cube Style.css */


.face {
		position: absolute;
		height: 284px;
		width:  284px;
		padding:0px;
		background-color: #3a3a3a;
		opacity: 0.9;
		border-style: solid;
		border-width: 8px;
		border-color: #bababa;

	   }


#cube {
		position: relative;
		margin: 0 auto;
		height: 300px;
		width: 300px;
		-webkit-transform-style: preserve-3d ;
		-webkit-animation: mycube ease-in-out 20s  alternate infinite;
		}

@-webkit-keyframes mycube {

		from {-webkit-transform: rotatey(0deg);}
		50%  {-webkit-transform: rotatey(360deg);}
		to   {-webkit-transform: rotatey(0deg);}
	}

	

#container {

		margin: 150px;
		-webkit-perspective:800px;
		-webkit-perspective-origin: 50% 50%;
	}





#F1 {
		-webkit-transform: rotatex(90deg) translatez(150px);
	}


#F2 {
		-webkit-transform: translatez(150px);
	}


#F3 {
		-webkit-transform: rotatey(90deg) translatez(150px);
	}


#F4 {
		-webkit-transform: rotatey(180deg) translatez(150px);
	}


#F5 {
	
		-webkit-transform: rotatey(-90deg) translatez(150px);
	}


#F6 {

		-webkit-transform: rotatex(-90deg) translatez(150px) rotatex(180deg);

	}


